@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//mixin for connect fonts

@import "fonts";
@import "nullstyle";

$color1: #202124;
$color2: #929292;
$color3: #acacac;
$color4: #b9b9b9;
$color5: #ffffff;

//====== Миксинчики ======

@mixin border-animation {
    --border-width: 10px;

    position: relative;
    border-radius: var(--border-width);

    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
    }
    @keyframes moveGradient {
        50% {
            background-position: 100% 50%;
        }
    }
}

//====== /Миксинчики ======

// Main style
body {
    background-color: $color1;
    color: #fff;
    min-height: 100%;
    font-size: 16px;
    font-family: "digital-7 (mono)";
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.timer {
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.timer-body {
    padding: 25px;
    background-color: $color2;
    @include border-animation;

    display: grid;

    grid-template-columns: 7fr 5fr;
    grid-template-rows: 8fr 2fr;
    gap: 25px;
    grid-template-areas:
        "time list"
        "buttons buttons";
}

.timer {
    &-time {
        grid-area: time;
        align-self: center;
        width: 32vw;
    }
    &-list {
        grid-area: list;

        background-color: $color3;
        border-radius: 10px;
        border: 2px solid $color5;
        position: relative;

        &__item {
            background-color: $color4;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 5px;
            padding: 10px;

            border: 2px solid $color5;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &-buttons {
        grid-area: buttons;
        align-items: center;
    }
}

.timer__timelist-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #8b8b8b;
    }
}

@media (max-width: 1440px) {
    .timer-body {
        grid-template-columns: 7fr 5fr;
        grid-template-rows: 7fr 2fr;
    }
}

@media (max-width: 1200px) {
    .timer-body {
        padding: 20px;
        gap: 20px;
        grid-template-columns: 7fr 5fr;
        grid-template-rows: 7fr 2fr;
    }
    .timer__timelist-list {
        &::-webkit-scrollbar {
            width: 10px;
        }
    }
}

@media (max-width: 870px) {
    .timer-body {
        padding: 15px;
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 4fr 2fr;
        grid-template-areas:
            "time"
            "list"
            "buttons";
    }
    .timer {
        &-time {
            width: unset;
            justify-self: center;
        }
    }
}

@media (max-width: 530px) {
    .timer-body {
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 330px) {
    .timer-body {
        grid-template-rows: 6fr 5fr 2fr;
    }
}

.clock {
    position: relative;
    background-color: $color3;
    border-radius: 50%;
    border: 2px solid $color5;

    padding: 10px;
}

.clock-spinner {
    width: 100%;
    height: 100%;
}

.clock-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    &__time {
    }
}

.clock-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#timer {
    font-size: clamp(3rem, 5.5vw, 7rem);
}

#mtimer {
    font-size: clamp(1.5rem, 2.25vw, 4rem);
}

.timer-buttons {
    background-color: #838383;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid $color5;
}

.button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid $color5;
    background-color: #e0e0e0;
    font-size: 1.5rem;
}

.upercase {
    font-size: 32px;
}

.lowercase {
    font-size: 16px;
}

@media (max-width: 1200px) {
    .timer-buttons {
        gap: 30px;
        padding: 10px;
    }
    .button {
        height: 80px;
        width: 80px;
    }
    .upercase {
        font-size: 28px;
    }

    .lowercase {
        font-size: 14px;
    }
}

@media (max-width: 870px) {
    .timer-buttons {
        gap: 10px;
        padding: 5px;
    }
    .button {
        height: 75px;
        width: 75px;
        font-size: 20px;
    }
}
@media (max-width: 530px) {
    .upercase {
        font-size: 24px;
    }

    .lowercase {
        font-size: 12px;
    }
}

//==============

//====== Анимация спинера ======//

.anim {
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 616; //616
    animation: efecto 2s linear infinite;
    transform-origin: center center;
    animation-play-state: paused;
}
.StopAnim {
    display: none;
}

@keyframes efecto {
    from {
        stroke-dashoffset: 616;
        transform: rotateZ(-90deg);
        stroke: #c08af9;
    }

    50% {
        transform: rotateZ(-90deg);
        stroke: #c08af9;
        stroke-dashoffset: 0;
    }

    50.0001% {
        transform: rotateZ(-90deg) rotateX(180deg);
        stroke: #c08af9;
    }

    to {
        transform: rotateZ(-90deg) rotateX(180deg);
        stroke: #c08af9;
        stroke-dashoffset: 616;
    }
}
//====== Анимация спинера ======//

.point {
    position: absolute;
    width: 0px; // Чтобы вернуть не адаптируемые точки поставь 6 px
    height: 0px; // Чтобы вернуть не адаптируемые точки поставь 6 px
    top: 105px; //110
    left: 105px; //110
    background: white;
    border-radius: 50%;
    transform-origin: 230px 230px; //195 195
}

//========== Анимация волны на кнопках ==========//

.btn-wave {
    overflow: hidden;
    position: relative;
}

.pulse {
    border-radius: 50%;
    background-color: #bfc9e7;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes pulse {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0;
    }
}

//========== /Анимация волны на кнопках ==========//
